auction-keeper

# config file
config.yaml

# block pointer files
goerli.ptr
mainnet.ptr

# ethereum generator
eh-gen

# IDEA
.idea

#Hardhat files
contracts/cache
contracts/artifacts

#ts
node_modules
coverage
coverage.json
typechain
typechain-types
types

#environment
.env

# generated binary file
main